* {

    margin: 0;
    padding: 0;
}


#page {
    width: 520px;
    margin: 0 auto;
    background-color: white;
    padding: 6px;
}
#page img {
    width: 100%;
}
a {
    color: #44A2FF;
    text-decoration: none;
    font-size: 22px;
}

a:hover {
    color: #44A2FF;
    text-decoration: none;

}
a:visited {
    color: red;
}

.menu li {
    display: inline;
    padding: 6px;
}
body{
    background-image: url("../img/most-b5c.jpg");
}

.social {
    margin: 30px 0 30px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 12px;
}

h1 {
    margin: 12px 0 12px 0;
    /*font-family:amerika;*/
    text-align: center;
}






















